/* For Mobile Portrait View */
@media screen and (max-width: 480px) and (orientation: portrait) {}

/* For Mobile Landscape View */
@media screen and (max-width: 640px) and (orientation: landscape) {}

@media screen and (max-width: 1000px) {
  :root {
    font-size: 51.5%;
  }

  /**--- TAB SECTION START ---*/
  .tab-section {
    .tips {
      margin: 0;
    }

    .financial-fundamentals {
      .video-box {
        height: auto;
        background-color: transparent;

        .video-left {
          display: none;
        }

        .video-right {
          width: 100%;
          justify-content: center;
          padding-right: 0;
          padding-left: 0;
          gap: 4rem;

          .video-list {
            width: 47%;
            font-size: 1.8rem;

            &.active {
              .thumbnail-img {
                outline: none;
                outline-offset: unset;
              }
            }
          }
        }
      }

      .box-img {
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;

        img {
          display: none;
        }
      }

      .box-img1 {
        background-image: url("../images/card-img-1-mobile.jpeg");
      }

      .box-img2 {
        background-image: url("../images/card-img-2-mobile.jpeg");
      }

      .box-img3 {
        background-image: url("../images/card-img-3-mobile.jpeg");
      }

      .money-grow {
        .blocks {
          padding-left: 0;

          .block-right {
            padding-left: 0;
            width: 50%;
            margin: 0 auto;
          }

          .block {
            flex-direction: column;

            .block-left {
              text-align: center;
            }
          }
        }
      }

      .boxes {
        flex-direction: column;

        .box {
          width: 100%;
          display: flex;
          height: 30rem;
        }
      }
    }

    .main-video-duration {
      display: none;
    }

  }
}

/* For Tablet View */
@media screen and (min-width: 767px) and (max-width: 1000px) {
  $common-pl: 2rem;

  /**--- TAB SECTION START ---*/
  .tab-section {
    .container {
      padding: 0 4rem;
    }

    ul {
      li:first-child {
        padding-left: 0;

        .arrow {
          left: 50%;
        }
      }

      li:last-child {
        padding-right: 0;

        .arrow {
          left: 50%;
        }
      }
    }

    .community-env {
      .boxes {
        gap: 2rem;

        .box {
          width: 48%;
        }
      }
    }

    .financial-fundamentals {


      .box-img {
        width: 16%;
      }

      .boxes {
        .box {
          .box-content {
            width: calc(100% - 30%);
            padding: 3.1rem 2.5rem 1.5rem 2.8rem;
          }
        }
      }
    }
  }

  .container {
    padding: 0 2rem;
    box-sizing: border-box;
  }
}


/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-width: 767px) {

  :root {
    font-size: 43.5%;
  }


  /**--- TAB SECTION START ---*/
  .tab-section {
    ul {
      gap: 0;

      li {
        font-size: 1.4rem;
      }

      li:first-child,
      li:last-child {
        padding-left: 0;
        padding-right: 0;

        .arrow {
          left: 50%;
          top: 4.5rem;
        }
      }
    }

    .financial-fundamentals {
      .video-box {
        .video-right {
          gap: 2rem;

          .video-list {
            width: 45%;
          }
        }
      }

      .box-img {
        width: 30%;
      }

      .money-grow {
        .blocks {
          .block-right {
            width: 80%;
          }

          .block {
            .block-left {
              img {
                max-width: 100%;
              }
            }
          }
        }
      }

      .boxes {
        .box {
          height: auto;

          .box-content {
            width: calc(100% - 50%);
          }

          &:first-child {
            .box-content {
              width: 51%;
            }
          }
        }
      }
    }

    .community-env {
      .boxes {
        .box {
          width: 100%;
        }
      }
    }
  }

  .container {
    box-sizing: border-box;
    padding: 0 2rem;
  }
}

@media screen and (min-width: 650px) and (max-width: 767px) {
  .tab-section .financial-fundamentals .box-img {
    width: 15%;
  }
}

@media screen and (min-width: 500px) and (max-width: 650px) {
  .tab-section .financial-fundamentals .box-img {
    width: 19%;
  }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  .tab-section {
    .financial-fundamentals {
      .money-grow {
        .blocks {
          .block-right {
            width: 60%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 280px) and (max-width: 320px) {}

@media screen and (min-width: 481px) and (max-width: 767px) {}