.latino-community {
  background-color: $bg-latino-community;
  padding: 7.5rem 0;
  color: $clr-secondry;

  .top-subtitle {
    margin-bottom: 6rem;
  }

  .bottom-subtitle {
    margin-top: 7.5rem;
  }

  .boxes {
    color: $clr-primary;
    gap: 4rem;

    .box {
      background-color: $bg-latino-community-box;
      padding: 4.5rem 0 10rem 4.1rem;
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
      position: relative;

      .box-content {
        padding-right: 19rem;
      }

      .btn-wrapper {
        position: absolute;
        bottom: 4rem;
      }

      p {
        padding-right: 3rem;
      }
    }

    .box.box-start .box-content {
      padding-right: 22rem;
    }

    .box-login {
      background-image: url("../images/action-img-1.jpeg");
    }

    .box-start {
      background-image: url("../images/action-img-2.jpeg");
    }
  }

  .bottom {
    margin-top: 1.2rem;

    p {
      width: 63rem;
      max-width: 100%;
      padding-right: 5rem;
    }
  }
}

/**************************/
/** RESPONSIVE CSS START */
/**************************/

@media screen and (max-width: 1000px) {
  .latino-community {
    .boxes {
      flex-direction: column;

      .box-login {
        background-image: url("../images/action-img-1-mobile.jpeg");
      }

      .box-start {
        background-image: url("../images/action-img-2-mobile.jpeg");
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .latino-community {
    .container {
      padding: 0 4rem;
    }

    .boxes {

      .box.box-login,
      .box.box-start {
        height: 20rem;
        padding: 3.5rem 0 10rem 4.1rem;

        .box-content {
          padding-right: 49rem;
        }
      }
    }

    .bottom {
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 792px) {
  .latino-community {
    .boxes {

      .box.box-login,
      .box.box-start {
        .box-content {
          padding-right: 43rem;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .latino-community {
    .boxes {
      .box {
        background-size: contain;
        padding: 1.5rem 0 7rem 1.5rem;

        .box-content {
          padding-right: 22rem;

          .btn-wrapper {
            bottom: 2rem;
          }

          h5 {
            font-size: 1.8rem;
          }

          p {
            font-size: 1.4rem;
          }

          .btn {
            padding: 1.2rem 0;
          }
        }
      }
    }

    .bottom {
      position: relative;

      p {
        padding-right: 0;
      }

      a {
        width: 12rem;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .latino-community {
    .bottom {
      flex-direction: column;
      a {
        position: absolute;
        right: 0;
        top: 6rem;
        margin-top: 1rem;
      }
    }
  }
}

@media screen and (max-width: 410px) {
  .latino-community {
    .btn-primary {
      width: 13rem;
    }

    .bottom {
      a {
        top: 8rem;
      }
    }

    .boxes {

      .box,
      .box.box-start {
        background-size: 40% 100%;
        padding: 1.5rem 0 7rem 1.5rem;

        .box-content {
          padding-right: 21rem;
          p{
            padding-right: 0.5rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) { 
  .latino-community {
    .boxes {
      .box,
      .box.box-start {
        .box-content {
          padding-right: 17rem;
        }
      }
    }
  }
}